terraform/modules/application/step_function_definition.json
{
  "Comment": "Enrichment pipeline for UMM metadata validation and fixing",
  "StartAt": "FetchMetadata",
  "States": {
    "FetchMetadata": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "fetch",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FetchFailed"
        }
      ],
      "Next": "EnrichResolution"
    },
    "CheckSkipValidation": {
      "Type": "Choice",
      "Comment": "Skip validation/fixer/store if record is already valid with same schema version",
      "Choices": [
        {
          "Variable": "$.skip_validation",
          "BooleanEquals": true,
          "Next": "CreateEmbeddings"
        }
      ],
      "Default": "Validate"
    },
    "EnrichResolution": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "resolution",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FixURLs"
        }
      ],
      "Next": "FixURLs"
    },
    "FixURLs": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "url_fix",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "WarmKMSCache"
        }
      ],
      "Next": "WarmKMSCache"
    },
    "WarmKMSCache": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "warm_kms_cache",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CheckSkipValidation"
        }
      ],
      "Next": "CheckKMSCache"
    },
    "CheckKMSCache": {
      "Type": "Choice",
      "Comment": "Route based on KMS cache readiness — ready proceeds, locked retries via Wait",
      "Choices": [
        {
          "Variable": "$.kms_cache_ready",
          "BooleanEquals": true,
          "Next": "CheckSkipValidation"
        },
        {
          "Variable": "$.kms_warm_attempt",
          "NumericGreaterThanEquals": 12,
          "Next": "CheckSkipValidation"
        }
      ],
      "Default": "WaitForKMSCache"
    },
    "WaitForKMSCache": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "WarmKMSCache"
    },
    "Validate": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "validate",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Store"
        }
      ],
      "Next": "CheckValidation"
    },
    "CheckValidation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation.is_valid",
          "BooleanEquals": true,
          "Next": "Store"
        },
        {
          "Variable": "$.validation.exceeded_max_attempts",
          "BooleanEquals": true,
          "Next": "Store"
        }
      ],
      "Default": "FixOneError"
    },
    "FixOneError": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "fixer",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Store"
        }
      ],
      "Next": "Validate"
    },
    "Store": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "store",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "StoreFailed"
        }
      ],
      "Next": "CreateEmbeddings"
    },
    "CreateEmbeddings": {
      "Type": "Task",
      "Resource": "${enrichment_lambda_arn}",
      "Parameters": {
        "action": "embed",
        "payload.$": "$"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "MaxAttempts": 6,
          "IntervalSeconds": 30,
          "BackoffRate": 3.0,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "EmbeddingFailed"
        }
      ],
      "End": true
    },
    "FetchFailed": {
      "Type": "Fail",
      "Error": "FetchMetadataError",
      "Cause": "Failed to retrieve metadata from CMR after retries were exhausted."
    },
    "StoreFailed": {
      "Type": "Fail",
      "Error": "StoreError",
      "Cause": "Failed to persist enriched metadata to the database."
    },
    "EmbeddingFailed": {
      "Type": "Fail",
      "Error": "EmbeddingError",
      "Cause": "Failed to generate embeddings for the stored metadata."
    }
  }
}
